/* style des balises html */

@font-face {
	font-family: "Canaro";
	src: url("../fonts/Canaro-Medium.woff2") format("woff2"), url("../fonts/Canaro-Medium.woff") format("woff"), url("../fonts/Canaro-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Canaro";
	src: url("../fonts/Canaro-Bold.woff2") format("woff2"), url("../fonts/Canaro-Bold.woff") format("woff"), url("../fonts/Canaro-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Canaro";
	src: url("../fonts/Canaro-SemiBold.woff2") format("woff2"), url("../fonts/Canaro-SemiBold.woff") format("woff"), url("../fonts/Canaro-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Canaro";
	src: url("../fonts/Canaro-Light.woff2") format("woff2"), url("../fonts/Canaro-Light.woff") format("woff"), url("../fonts/Canaro-Light.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "montserrat";
	src: url("../fonts/Montserrat-VF.woff2") format("woff2"), url("../fonts/Montserrat-VF.ttf") format("truetype");
	font-display: swap;
}
