/* style des balises html */
@font-face {
	font-family: "canaro";
	src: url("fonts/Canaro-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "canaro";
	src: url("fonts/Canaro-SemiBold.otf");
	font-weight: 600;
}

@font-face {
	font-family: "canaro";
	src: url("fonts/Canaro-Medium.otf");
	font-weight: 500;
}

@font-face {
	font-family: "canaro";
	src: url("fonts/Canaro-Light.otf");
	font-weight: 200;
}

@font-face {
	font-family: "montserrat";
	src: url("fonts/Montserrat-VariableFont_wght.ttf");
}
