.bg-footer {
	padding: 50px 0;
	background: black;

	ul {
		display: flex;
		justify-content: space-evenly;
		list-style-type: none;
		width: 100%;
		text-transform: uppercase;
		li {
			a {
				display: block;
				color: white;
				text-decoration: none;
				width: 100%;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}

	img {
		display: block;
		margin: auto;
		max-width: 250px;
	}

	hr {
		border-color: $vert;
	}
	.ligne {
		display: flex;
		div {
			width: 50%;
		}
	}
}
