.home {
	.bg-home {
		min-height: calc(100vh - 75px);
		color: white;
		position: relative;
		overflow: hidden;
		margin-bottom: 60px;
		// background-size: cover;
		// background-image: url(../img/home.png);
		// background-position-x: right;

		img {
			position: absolute;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: right center;
			object-position: right center;
			z-index: -1;
			width: 100%;
			height: 100%;
			-webkit-animation: zoom 50s linear infinite;
			animation: zoom 50s linear infinite;
		}

		/* effet parallax */

		@-webkit-keyframes zoom {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.17);
			}
			100% {
				transform: scale(1);
			}
		}

		@keyframes zoom {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.17);
			}
			100% {
				transform: scale(1);
			}
		}

		.bg-black {
			background-color: rgba(0, 0, 0, 0.495);
			height: 100%;
			min-height: calc(100vh - 75px);
			display: flex;
			align-items: center;
			& > div {
				display: flex;

				h1 {
					text-transform: uppercase;
					padding: 50px 0;
					font-weight: 500;
					letter-spacing: 7px;
					&::first-line {
						font-size: 75px;
					}
				}
				h2 {
					color: white;
					padding-bottom: 15px;
					text-align: left;
					letter-spacing: 3px;
					&:first-of-type {
						padding-top: 0;
					}
					&:last-of-type {
						letter-spacing: 11px;
					}
				}
				p {
					line-height: 150%;
				}
				a {
					margin-bottom: 30px;
				}
			}
		}
	}

	.activites {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;

		/***** Bloc-secteur d'activités *****/
		.bloc-secteur {
			width: calc((100% / 3) - 20px);
			aspect-ratio: 16 / 9;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			padding: 18px;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			overflow: hidden;
			border-radius: 15px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
			h3 {
				font-weight: 600;
				font-size: 16px;
				background-color: #fff;
				color: $bleu;
			}

			&:hover {
				.bloc-contenu {
					top: 0;
				}
			}

			.btn {
				display: block;
				width: 100%;
				text-align: center;

				&:hover {
					transform: scale(1.09, 1.09);
				}
			}

			.bloc-contenu {
				background-color: rgba(255, 255, 255, 0.85);
				position: absolute;
				padding: 18px;
				top: 100%;
				left: 0;
				display: flex;
				width: 100%;
				height: 100%;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				transition: $transition;
				text-align: center;
				color: $bleu;
			}
		}
	}

	.atex {
		background-color: $bleu;
		color: white;
		padding: 60px 0;
		margin-top: 60px;
		.container {
			display: flex;
			justify-content: space-between;
			h2 {
				color: inherit;
				text-align: left;
				padding-top: 0;
			}
			p {
				margin-bottom: 15px;
			}
			div:first-of-type {
				width: 60%;
			}
			div:last-of-type {
				width: 30%;
			}
			img {
				border-radius: 15px;
			}
		}
	}

	.produits {
		//padding: 60px 0;
		h2 {
			color: $bleu;
			padding-top: 60px;
			width: 100%;
		}
		a {
			margin-bottom: 3%;
		}
		.container {
			display: flex;
			flex-wrap: wrap;
			gap: 50px;
			& > div {
				width: calc(50% - 25px);
				display: flex;
				box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
				border-radius: 15px;
				align-items: start;
				overflow: hidden;
				& > img,
				& > div {
					width: 50%;
					padding: 20px;
					a.btn {
						width: 100%;
						text-align: center;
						&:hover {
					transform: scale(1.05, 1.05);
					}
				}
					h3 {
						color: $bleu;
						text-align: left;
					}
				}
			}
		}
	}

	.realisation {
		background: $bleu;
		padding-top: 60px;
		padding-bottom: 60px;
		a {
			margin-bottom: 3%;
		}
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			h2 {
				width: 100%;
				color: white;
			}
			& > a {
				width: 30%;
				aspect-ratio: 16 / 9;
				text-decoration: none;

				div {
					background-size: cover;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 15px;
					box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

					h3 {
						width: 90%;
						background: white;
						color: #263c59;
						font-weight: 600;
						font-size: 15px;
					}
				}
			}
		}
	}
}
