.single-produit {
	h1 {
		text-transform: uppercase;
		padding: 0;
		font-weight: 600;
		font-size: 50px;
		color: $bleu;
		letter-spacing: 5px;
		width: 100%;
		margin-bottom: 40px;
	}

	.contenu {
		display: flex;
		margin: 100px 0;
		gap: 30px;
	}
	.w-50 {
		width: 50%;
	}
	.w-70 {
		width: 70%;
	}
	.liens {
		display: flex;
		gap: 60px;
	}
}
