.single-realisations {
	.bg-realisation {
		background-size: cover;
	}
	.contenu {
		display: flex;
		article {
			width: 50%;
			&.desc {
				& > * {
					padding-bottom: 20px;
				}
			}
		}
	}
	.ug-gallery-wrapper > * {
		border-radius: 15px;
	}
	.ug-thumbs-strip-inner > * {
		box-shadow: 0 0 5px grey;
	}
}
