@media screen and (max-width: 768px) {
	body {
		width: 100%;
	}
	.w50 {
		width: 100%;
	}
	// HEADER
	.menucontact {
		width: 100%;
		height: 70px;
		bottom: 0;
		top: initial;
		ul {
			flex-direction: row;
			li {
				-webkit-writing-mode: initial;
				-ms-writing-mode: initial;
				writing-mode: initial;
				transform: rotate(0deg);
				&:last-child {
					border-bottom: none;
					border-left: 1px solid #000;
				}
			}
		}
		&.ouvert {
			right: 0;
			top: 0;
		}
	}
	.projet {
		top: 100%;
		left: 0;
		width: 100%;
		height: calc(100% - 70px);
		&.ouvert {
			left: 0;
			top: 70px;
		}
	}
	header .menu {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: -120%;
		background-color: #fff;
		z-index: 20;
		ul {
			flex-direction: column;
			justify-content: center;
			gap: 20px;
		}
	}
	// HOME
	.home {
		.activites {
			flex-direction: column;
			.bloc-secteur {
				width: 100%;
			}
		}
		.atex .container {
			flex-direction: column;
			div:last-of-type,
			div:first-of-type {
				width: 100%;
			}
		}
		.savoirFaire .ligneSavoirFaire {
			flex-direction: column;
			div {
				width: 100%;
			}
		}
	}
}
