$vert: #8bb53c;
$bleu: #263c59;
$transition: 0.25s all linear;

.container {
	max-width: 1200px;
	width: 95%;
	margin: auto;
}

.w100 {
	width: 100%;
}
.w50 {
	width: 55%;
}

.btn {
	background-color: $vert;
	border-radius: 15px;
	padding: 15px 30px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.487);
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	display: table;
	margin-top: 20px;
	transition: $transition;

	&:hover {
		transform: scale(1.2, 1.2);
	}
}

.bg-blue {
	background: $bleu;
	background-size: 50%;
}

// /**** class utilitaire ****/
// .margin-auto {
// 	margin: auto;
// }
// .margin-left {
// 	margin-left: 100px;
// }
// .flex {
// 	display: flex;
// 	flex-wrap: wrap;
// }
// /**** largeurs ****/
// .mw1200px {
// 	max-width: 1200px;
// 	width: 95%;
// }
// .w100 {
// 	width: 100%;
// }
// .w50 {
// 	width: 50%;
// }
// .w600px {
// 	width: 600px;
// }
// /**** background ****/
// /*.bg-image-home {
// 	background-image: url("img/background-accueil.jpg");
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }*/
// .logo {
// 	width: 30%;

// }
// .m10px {
// 	margin: 10px;
// }
// .pt10 {
// 	padding-top: 10px;
// }
// .pb10 {
// 	padding-bottom: 10px;
// }
// .pt30 {
// 	padding-top: 30px;
// }
// .pb30 {
// 	padding-bottom: 30px;
// }
// .p30 {
// 	padding: 30px;
// }
// .pt90 {
// 	padding-top: 90px;
// }
// .radius {
// 	border-radius: 15px;
// }

// /**** alignements ****/
// .justify-content-right {
// 	justify-content: right;
// }
// .align-items-left {
// 	align-items: left;
// }
// .align-items-center {
// 	align-items: center;
// }

// /**** fonts ****/
// .canaro-light {
// 	font-family: "canaro";
// 	font-weight: 200;
// }
// .canaro-medium {
// 	font-family: "canaro-medium";
// }
// .canaro-semi-bold {
// 	font-family: "canaro";
// 	font-weight: 600;
// }
// .canaro-bold {
// 	font-family: "canaro";
// 	font-weight: bold;
// }
// .montserrat {
// 	font-family: "montserrat";
// }
// /**** propriétés du texte ****/
// .txt-center {
// 	text-align: center;
// }
// .upp {
// 	text-transform: uppercase;
// }
// .f14 {
// 	font-size: 14px;
// }
// .f18 {
// 	font-size: 18px;
// }
// .f30 {
// 	font-size: 30px;
// }
// .f80 {
// 	font-size: 80px;
// }

// /**** couleurs ****/
// .blue {
// 	color: #263c59;
// }
// .green {
// 	color: #8bb53c;
// }
// .bg-blue {
// 	background-color: #263c59;
// }
