@charset "UTF-8";
.container {
  max-width: 1200px;
  width: 95%;
  margin: auto !important;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 55%;
}

.btn {
  background-color: #8bb53c;
  border-radius: 15px;
  padding: 15px 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.487);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  display: table;
  margin-top: 20px;
  transition: 0.25s all linear;
}
.btn:hover {
  transform: scale(1.2, 1.2);
}

.bg-blue {
  background: #263c59;
  background-size: 50%;
}

.m-b60 {
  margin-bottom: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat";
  width: calc(100% - 70px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "canaro";
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.1rem;
  font-weight: 500;
  letter-spacing: 7px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: #263c59;
  text-align: left;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #8bb53c;
  text-align: center;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 15px;
}

p {
  font-size: 18px;
}

/* style des balises html */
@font-face {
  font-family: "Canaro";
  src: url("../fonts/Canaro-Medium.woff2") format("woff2"), url("../fonts/Canaro-Medium.woff") format("woff"), url("../fonts/Canaro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canaro";
  src: url("../fonts/Canaro-Bold.woff2") format("woff2"), url("../fonts/Canaro-Bold.woff") format("woff"), url("../fonts/Canaro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canaro";
  src: url("../fonts/Canaro-SemiBold.woff2") format("woff2"), url("../fonts/Canaro-SemiBold.woff") format("woff"), url("../fonts/Canaro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canaro";
  src: url("../fonts/Canaro-Light.woff2") format("woff2"), url("../fonts/Canaro-Light.woff") format("woff"), url("../fonts/Canaro-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-VF.woff2") format("woff2"), url("../fonts/Montserrat-VF.ttf") format("truetype");
  font-display: swap;
}
header {
  display: flex;
  align-items: center;
  height: 100wh;
  box-shadow: none;
}
header form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}
header form input:not([type=submit]) {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
}
header form .w50 {
  width: calc(50% - 20px);
}
header form input[type=submit] {
  background-color: #8bb53c;
  border: none;
  box-shadow: none;
  padding: 20px;
  color: white;
  font-family: "canaro";
  font-weight: bold;
}

.logo {
  width: 15%;
}
.logo img {
  width: 100%;
  height: auto;
}

.menu {
  width: 80%;
  display: flex;
  font-size: 14px;
  padding: 30px 0;
}
.menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  text-transform: uppercase;
}
.menu ul li a {
  display: block;
  color: #263c59;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
}

.menucontact {
  width: 70px;
  background-color: white;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
}
.menucontact ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  box-shadow: 2px 2px 5px black;
}
.menucontact ul li {
  width: 100%;
  height: 50%;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}
.menucontact ul li:last-child {
  text-align: right;
  border-bottom: 1px solid #000;
}
.menucontact ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #263c59;
}

.projet {
  width: calc(100% - 70px);
  height: 100%;
  background-color: white;
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 1;
}

.appel {
  width: calc(100% - 70px);
  height: 100%;
  background-color: white;
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 1;
}

.bg-footer {
  background: url("../img/fond footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #8bb53c;
}
.bg-footer nav {
  margin-bottom: 40px;
}
.bg-footer ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  text-transform: uppercase;
}
.bg-footer ul li a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}
.bg-footer img {
  display: block;
  margin: 5% auto;
  max-width: 20%;
  padding-bottom: 30px;
}
.bg-footer hr {
  border-color: #8bb53c;
}
.bg-footer .ligne {
  display: flex;
}
.bg-footer .ligne div {
  width: 50%;
  margin: 5%;
}
.bg-footer .d-f {
  display: flex;
  margin: 30px;
  justify-content: space-evenly;
}
.bg-footer h3 {
  color: white;
}
.bg-footer p {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.bg-footer a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
.bg-footer i {
  color: white;
  font-size: 32px;
}

.ligne-2 {
  display: flex;
}
.ligne-2 div {
  border-width: 50%;
  width: 50%;
}

.home .bg-home {
  min-height: calc(100vh - 75px);
  color: white;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  background-size: cover;
  background-image: url(../img/home.png);
  background-position-x: right;
  /* effet parallax */
}
.home .bg-home img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right center;
  object-position: right center;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-animation: zoom 50s linear infinite;
  animation: zoom 50s linear infinite;
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.17);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.17);
  }
  100% {
    transform: scale(1);
  }
}
.home .bg-home .bg-black {
  background-color: rgba(0, 0, 0, 0.495);
  height: 100%;
  min-height: calc(100vh - 75px);
  display: flex;
  align-items: center;
}
.home .bg-home .bg-black > div {
  display: flex;
}
.home .bg-home .bg-black > div h1 {
  text-transform: uppercase;
  padding: 50px 0;
  font-weight: 500;
  letter-spacing: 7px;
}
.home .bg-home .bg-black > div h1::first-line {
  font-size: 75px;
}
.home .bg-home .bg-black > div h2 {
  color: white;
  padding-bottom: 15px;
  text-align: left;
  letter-spacing: 3px;
}
.home .bg-home .bg-black > div h2:first-of-type {
  padding-top: 0;
}
.home .bg-home .bg-black > div h2:last-of-type {
  letter-spacing: 11px;
}
.home .bg-home .bg-black > div p {
  line-height: 150%;
}
.home .bg-home .bg-black > div a {
  margin-bottom: 30px;
}
.home .activites {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /***** Bloc-secteur d'activités *****/
  /**** Attention manque visuel recyclage ****/
  /**** Attention manque visuel recyclage ****/
}
.home .activites .bloc-secteur {
  width: calc(33.3333333333% - 20px);
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.home .activites .bloc-secteur h3 {
  font-weight: 600;
  font-size: 16px;
  background-color: #fff;
  color: #263c59;
}
.home .activites .bloc-secteur:hover .bloc-contenu {
  top: 0;
}
.home .activites .bloc-secteur .btn {
  display: block;
  width: 100%;
  text-align: center;
}
.home .activites .bloc-secteur .btn:hover {
  transform: scale(1.09, 1.09);
}
.home .activites .bloc-secteur .bloc-contenu {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  padding: 18px;
  top: 100%;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: 0.25s all linear;
  text-align: center;
  color: #263c59;
}
.home .activites .agroalimentaire {
  background-image: url("../img/Agroalimentaire.png");
}
.home .activites .mineral {
  background-image: url("../img/minerale.png");
}
.home .activites .recyclage {
  background-image: url("../img/Agroalimentaire.png");
}
.home .activites .caoutchouc {
  background-image: url("../img/caoutchouc-plastique.png");
}
.home .activites .bois {
  background-image: url("../img/bois.png");
}
.home .activites .mettalurgie {
  background-image: url("../img/metalurgie.png");
}
.home .activites .papier {
  background-image: url("../img/papier-textile.png");
}
.home .activites .chimie {
  background-image: url("../img/chimie-pharma.png");
}
.home .activites .auto {
  background-image: url("../img/Auto-aero.png");
}
.home .atex {
  background-color: #263c59;
  color: white;
  padding: 60px 0;
  margin-top: 60px;
}
.home .atex .container {
  display: flex;
  justify-content: space-between;
}
.home .atex .container h2 {
  color: inherit;
  text-align: left;
  padding-top: 0;
}
.home .atex .container p {
  margin-bottom: 15px;
}
.home .atex .container div:first-of-type {
  width: 60%;
}
.home .atex .container div:last-of-type {
  width: 30%;
}
.home .atex .container img {
  border-radius: 15px;
}
.home .produits h2 {
  color: white;
  padding-top: 60px;
}
.home .produits a {
  margin-bottom: 3%;
}
.home .realisation {
  background: #263c59;
  padding-top: 60px;
}
.home .realisation a {
  margin-bottom: 3%;
}
.home .realisation .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .realisation .container h2 {
  width: 100%;
  color: white;
}
.home .realisation .container > a {
  width: 30%;
  aspect-ratio: 16/9;
  text-decoration: none;
}
.home .realisation .container > a div {
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.home .realisation .container > a div h3 {
  width: 90%;
  background: white;
  color: #263c59;
  font-weight: 600;
  font-size: 15px;
}

.single-realisations .bg-realisation {
  background-size: cover;
}
.single-realisations .contenu {
  display: flex;
}
.single-realisations .contenu article {
  width: 50%;
}
.single-realisations .contenu article.desc > * {
  padding-bottom: 20px;
}
.single-realisations .ug-gallery-wrapper > * {
  border-radius: 15px;
}
.single-realisations .ug-thumbs-strip-inner > * {
  box-shadow: 0 0 5px grey;
}

.single-secteur_activite bg-agroalimentaire {
  min-height: calc(100vh - 75px);
  color: white;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  background-size: cover;
  background-image: url(../img/Agroalimentaire.png);
  background-position-x: right;
  /* effet parallax */
}
.single-secteur_activite bg-agroalimentaire img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right center;
  object-position: right center;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-animation: zoom 50s linear infinite;
  animation: zoom 50s linear infinite;
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.17);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.17);
  }
  100% {
    transform: scale(1);
  }
}
.single-secteur_activite bg-agroalimentaire .bg-black {
  background-color: rgba(0, 0, 0, 0.495);
  height: 100%;
  min-height: calc(100vh - 75px);
  display: flex;
  align-items: center;
}
.single-secteur_activite bg-agroalimentaire .bg-black > div {
  display: flex;
}
.single-secteur_activite bg-agroalimentaire .bg-black > div h1 {
  text-transform: uppercase;
  padding: 50px 0;
  font-weight: 500;
  letter-spacing: 7px;
}
.single-secteur_activite bg-agroalimentaire .bg-black > div h1::first-line {
  font-size: 75px;
}
.single-secteur_activite bg-agroalimentaire .bg-black > div h2 {
  color: white;
  padding-bottom: 15px;
  text-align: left;
  letter-spacing: 3px;
}
.single-secteur_activite bg-agroalimentaire .bg-black > div h2:first-of-type {
  padding-top: 0;
}
.single-secteur_activite bg-agroalimentaire .bg-black > div h2:last-of-type {
  letter-spacing: 11px;
}
.single-secteur_activite bg-agroalimentaire .bg-black > div p {
  line-height: 150%;
}
.single-secteur_activite bg-agroalimentaire .bg-black > div a {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .w50 {
    width: 100%;
  }
  .home .activites {
    flex-direction: column;
  }
  .home .activites .bloc-secteur {
    width: 100%;
  }
  .home .atex .container {
    flex-direction: column;
  }
  .home .atex .container div:last-of-type,
.home .atex .container div:first-of-type {
    width: 100%;
  }
  .home .savoirFaire .ligneSavoirFaire {
    flex-direction: column;
  }
  .home .savoirFaire .ligneSavoirFaire div {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */